css_rule_selector {
  css_rule_property: value;
}

/*   & & & & & & Rule Sets & & & & & &   */

/*   ^ ^ ^ ^ ^ Selectors ^ ^ ^ ^ ^   */

/*   ^ ^ ^ ^ Universal Selector ^ ^ ^ ^   */

* {
  color: blue;
}

/*   ^ ^ ^ ^ Name Selector ^ ^ ^ ^ */
p {
  color: blue;
}

/*   ^ ^ ^ ^ ID Selector ^ ^ ^ ^ */
#para1 {
  color: blue;
}

/*   ^ ^ ^ ^ Class Selector ^ ^ ^ ^ */
.bluecolor {
  color: blue;
}

/*   ^ ^ ^ ^ Class Element Selector ^ ^ ^ ^ */
p.bluecolor {
  color: blue;
}
