css_rule_selector {
  css_rule_property: value;
}

/*   & & & & & & Rule Sets & & & & & &   */

/*   ^ ^ ^ ^ ^ Selectors ^ ^ ^ ^ ^   */

/* Cascading order of operations: 1. Inline Styles -> 2. External/Internal -> 3. Browser Default */

/*   ^ ^ ^ ^ Universal Selector ^ ^ ^ ^   */

* {
  color: blue;
}

/*   ^ ^ ^ ^ Name Selector ^ ^ ^ ^ */
p {
  color: blue;
}

/*   ^ ^ ^ ^ Grouping Name Selectors ^ ^ ^ ^ */

p1,
p2 {
  color: blue;
}

/*   ^ ^ ^ ^ ID Selector ^ ^ ^ ^ */
#para1 {
  color: blue;
}

/*   ^ ^ ^ ^ Class Selector ^ ^ ^ ^ */
.bluecolor {
  color: blue;
}

/*   ^ ^ ^ ^ Class Element Selector ^ ^ ^ ^ */
p.bluecolor {
  color: blue;
}

/*   ^ ^ ^ ^ ^ Properties ^ ^ ^ ^ ^   */

/*   ^ ^ ^ ^ Colors ^ ^ ^ ^ ^   */

/*   ^ ^ ^ RGB ^ ^ ^   */

my_rgb {
  color: rgb(255, 0, 0); /* red */
  color: rgb(0, 255, 0); /* green */
  color: rgb(0, 0, 255); /* blue */
}

/*   ^ ^ ^ hex ^ ^ ^   */

my_hex {
  color: #ff0000; /* red */
  color: #00ff00; /* green */
  color: #0000ff; /* blue */
}

/*   ^ ^ ^ 3 Digit Hex ^ ^ ^   */

my_short_3_digit_hex {
  color: #f00;
  color: #0f0;
  color: #00f;
}

/*   ^ ^ ^ HSL ^ ^ ^   */

my_hsl {
  color: hsl(0, 100%, 50%); /* red */
  color: hsl(120, 100%, 50%); /* green */
  color: hsl(240, 100%, 50%); /* blue */
}

/*   ^ ^ ^ ^ BackGround Property ^ ^ ^ ^ ^   */

/*   ^ ^ ^ background-color ^ ^ ^   */

my_bgc {
  background-color: blue;
}

/*transp - opacity

/*   ^ ^ ^ BackGround: combining the background tags ^ ^ ^   */

my_bgc {
  background: blue;
}

/*transp - rgb