css_rule_selector {
  css_rule_property: value;
}

/*   & & & & & & Rule Sets & & & & & &   */

/*   ^ ^ ^ ^ ^ Selectors ^ ^ ^ ^ ^ */

/*   ^ ^ ^ ^ Name Selector ^ ^ ^ ^ */
p {
  color: blue;
}

/*   ^ ^ ^ ^ ID Selector ^ ^ ^ ^ */
#para1 {
  color: blue;
}
