/* Adding A style/declaration for changing the color of the
 paragraph and the size of the font */

p {
  font-size: 64px;
  color: purple;
}

/* Element selector - inheritance */
body {
  font-size: 22px;
}

/* Specific element selection*/
p {
  color: purple;
}

/* Class selector */
.gray {
  color: gray;
}

/* ID Selection */
#second {
  font-style: italic;
}

/* Grouping selectors, typing h1 h2 is different
for looking through nested elements (& rather than |) */
h1,
h2 {
  color: blue;
}

/* AND group selectopn*/
p span {
  text-transform: uppercase;
  background-color: gold;
}

/* better way of doing the same thing - reusable */
.highlight {
  text-transform: uppercase;
  background-color: gold;
}
