/* Universal selector */
* {
  font-family: monospace;
}

/* Adding A style/declaration for changing the color of the
 paragraph and the size of the font */

p {
  font-size: 64px;
  color: purple;
}

/* A semantic element used once per page - header will only be affected if it's inside the block */
main {
  font-family: monospace;
}

/* Element selector - inheritance */
/* Unlike universal selector which selects all, the rest of the elements*/
/* inherit from body in case of font related properties, though some will be */
/* explicitly added to inherit through font: inherit */
body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: papayawhip; /* It's important to choose a good contrast between font and bkg colors */
  color: darkblue;
}

/* Specific element selection*/
p {
  color: purple;
}

/* Class selector */
/* CSS cascading DOWN -> last rule applied, classes override */
/* Check out the precedance -> inspect the page for the element, p{color: red;} */
/* is crossed out */
.gray {
  color: gray;
}

/* ID Selection */
#second {
  font-style: italic;
}

/* Grouping selectors, typing h1 h2 is different
for looking through nested elements (& rather than |) */
h1,
h2 {
  color: blue;
}

/* AND group selectopn*/
p span {
  text-transform: uppercase;
  background-color: gold;
}

/* better way of doing the same thing - reusable */
.highlight {
  text-transform: uppercase;
  background-color: gold;
}
