/* Adding A style/declaration for changing the color of the
 paragraph and the size of the font */

p {
  font-size: 64px;
  color: purple;
}

/* Element selector - inheritance */
body {
  font-size: 22px;
}

/* Specific element selection*/
p {
  color: purple;
}

/* Class selector */
.gray {
  color: gray;
}

/* ID Selection */
